.App {
 display: flex;  
 justify-content: center; 
 flex-direction: column;
 height: 100vh; 
 align-items: center;
 padding: 5px;
}

.container {
    box-sizing: border-box;
}

.main-input {
    padding: 5px;
    width: 300px;
    margin-right: 5px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.result-board {
   height: 200px;
   background-color: rgb(229, 231, 233);
   border-radius: 8px;
   width: 100%;
   box-sizing: border-box;
   padding: 10px;
   font-size: 12px;
}

.result {
    display: flex;
    justify-content: center;
    word-break: break-all;
}